<style>
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&display=swap');
</style> 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond',serif;
}

body {
    background-image: url("src/altai.jpg");
    color: #192841;
}

/* legacy css here, bad camelCase for most of these, but whatever */

.MainBody {
    background-color:#F0F0F0;
    width:1000px;
    border-width:20px;
    margin:auto;
    margin-top:50px;
    text-align:center;
    margin-bottom:150px;
    border-radius:20px;
    padding:30px 60px;
    border:2px solid #0A0A00;
    overflow:hidden;
}


header {
    background-color:RGB(196,202,206);
    padding: 40px;
    border-radius:20px;
    margin:auto;
    width:1400px;
    text-align:justify;
}


a:link{
    font-weight: bold;
    text-decoration: none;
    color:#2f3b47;
}
a:visited{
    text-decoration: none;
    color:#2f3b47;
}
a:hover{
    color:#a00571;
    text-shadow: 0 0 3px white, 0 0 5px white;
}


.localLink {
    font-size:30px;
    padding: 30px;
    margin-left: -40px;
    margin-right: 20px;
}

.MainInfo{
    margin: auto;
    text-align: center;
    width: 60%;
    padding:300px;
    text-shadow: -1px 0 #E5E5E5, 0 1px #E5E5E5, 1px 0 #E5E5E5, 0 -1px #E5E5E5;
}

.about{
    font-size:22px;
}

.Maintext{
    word-wrap: break-word;
}

.TextHeader{
    margin: auto;
    text-align: center;
    width: 80%;
    padding-bottom: 20px;
    font-size: 30px;
}

.TextParagraph{
    line-height: 1.6;
    font-size: 22px;
    margin:auto;
    background-color: #F0F0F0;
    border-radius:20px;
    width: 1500px;
    padding-left:20px;
}


.box{
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 0px;
    background-color: #E0E0E0;
}

.Termheader{
    font-size: 23px;
}
.Courseheader{
    font-size: 20px;
}
.Courseinfo{
    font-size:20px;
}
.ProjectList{
    text-align: center;
    font-size:25px;
    width:90%;
    margin:auto;
    margin-top: 40px;
}


.right_image {
    width:auto;
    max-width: 40%;
    height:auto;
    float:right;
    margin: 20 40 20 20;
    border-radius: 15px;
}
.middle_image {
    width:auto;
    width: 65%;
    height:auto;
    margin: 20 40 20 20;
    border-radius: 15px;
}

.left_image {
    width:auto;
    max-width: 40%;
    height:auto;
    float:left;
    margin: 20 20 20 40;
    border-radius:15px;
}
.project{
    margin:20px;
}

.project_details{
    margin:20px;
    line-height:50px;
}

.project_type{
    line-height: 1.6;
    font-size: 22px;
    background-color: #E0E0E0;
    border-radius:20px;
}

.quote{
    font-size:20px;
    padding-bottom: 60px;
    padding-top: 60px;
}

/* End legacy classes*/

/* newer classes - normal naming conventions apply (camelCase for CSS) */

.buttonBox{
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
    cursor:pointer;
    padding-top: 0px;
    background-color: #D0EEFF;
    border:2px #E0E0E0 solid;
    overflow:hidden;
}
.buttonBox:hover{
    background-color:#74dcf8;   
    border-color:#0A0A00;
}
.buttonBox2{
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
    cursor:pointer;
    padding-top: 0px;
    background-color: #E0FFEF;
    border:2px #E0E0E0 solid;
    overflow:hidden;
}
.buttonBox2:hover{
    background-color:#BBBBFF;   
    border-color:#0A0A00;
}
.buttonBox3{
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
    cursor:pointer;
    padding-top: 0px;
    background-color: #E0CCEF;
    border:2px #E0E0E0 solid;
    overflow:hidden;
}
.buttonBox3:hover{
    background-color:#be59da;   
    border-color:#0A0A00;
}
.boxLeft{
    text-align:left;
    font-size:35px;
    padding-top:10px;
    margin-bottom:-10px;
}
.boxUnder{
    text-align:left;
    font-size:24px;
    font-family:'Times New Roman';
    margin-bottom:-10px;
}
.subHeader{
    font-size: 22px;
    margin-bottom:30px;
}

.buttonImage{
    float:right;
    margin-right:-20px;
    margin-bottom:-20px;
    padding: 0 0 0 0; 
    border-radius:20px;
    height:150px;
    width:150px;
}

.fullDiv{
    margin: 30 0 30 0;
    width:1000px;
    height:700px;
    display:inline-block;
    border-style: solid black;
}
.fullSlimDiv{
    width:1000;
    height:50;
    padding-top:10px;
    display:inline-block;
}

.threeQuartDiv {
    margin: 30 0 30 0;
    width:750px;
    height:450px;
    float:left;
    display:inline-block;
}

.halfDiv{
    margin:30 0 30 0;
    width:500px;
    height:300px;
    float:left;
    display:inline-block;
    text-align:center;
}

.quartDiv{
    width:250px;
    margin: 30 0 30 0;
    height:450px;
    float:left;
    display:table;
}

.quartText{
    display:table-cell; 
    vertical-align:middle; 
    line-height: normal;
}
.bigVideo{
    width:1000px;
    height:600px;
    border-radius: 7px;
}

.mediumVideo{
    width:750px;
    height:450px;
    border-radius:7px;
}

.smallVideo{
    width:500px;
    height:300px;
    border-radius: 7px;
}

/* Id customisations*/

#header-list{
    text-align:justify;
}
#header-list li{
    display: inline-block;
}
#header-list:after{
    content: '';
    width: 100%; 
    display: inline-block;
}
#projects{
    font-size:35px; 
}

#Name{
    font-size: 70px;
}

#Occupation{
    font-size: 25px;
}
#dong_dog{
    max-width:400px;
}
#dong_man{
    max-width:500px;
}