<style>
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&display=swap');
</style> 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond',serif;
}

body {
    background-color: white;
    color: #192841;
}

header {
    background-color:RGB(196,202,206);
    padding: 70px;
    margin-top :-10px;
    margin-left : -10px;
    margin-right: -10px;
}
a:link{
    font-weight: bold;
    text-decoration: none;
    color:#2f3b47;
}
a:visited{
    text-decoration: none;
    color:#2f3b47;
}
a:hover{
    color:#b4a331;
}



.localLink {
    font-size:30px;
    padding: 30px;
    margin-left: -40px;
    margin-right: 20px;
}

.MainInfo{
    margin: auto;
    text-align: center;
    width: 60%;
    padding:300px;

}

.Maintext{
    
    word-wrap: break-word;
}

.TextHeader{
    margin: auto;
    text-align: center;
    width: 50%;
    padding-bottom: 20px;
    font-size: 30px;
}

.TextParagraph{
    line-height: 1.6;
    font-size: 22px;
}

.box{
    margin:auto;
    width:90%;
}

.scoreboard{
    text-align:center;
    font-size: 30;
}

#gameBox{
    margin: auto;
    background-color: rgba(194, 194, 194, 0.486);
    width:700px;
    height:700px;
    display:block;
    border: 5px solid black;
}
.speeds{
    text-align:center;
    margin:auto;
    font-size:25px;
}

.button{
    width: 5%;
    font-size: 1vw;
    background-color: #453823;
    color: beige;
    text-align:center;
    display:inline-block;
    margin-left:20px;
    margin-right:20px;
    margin-top:10px;
    border-radius: 10%;
    transition:all .2s;
}

#start{
    margin-top: -50px;
}
.button:hover{
    background-color: #400000;
    cursor:pointer;
    color: gold;
}