

.buttonwrapper{
    display: block;
    text-align:center;
}

.choice{
    border: 1px solid transparent;
}

#r:hover{
    border: 5px solid rgba(127, 6, 131, 0.959);
    cursor:pointer;
}
#p:hover{
    border: 5px solid rgba(127, 6, 131, 0.959);
    cursor:pointer;
}
#s:hover{
    border: 5px solid rgba(127, 6, 131, 0.959);
    cursor:pointer;
}
#r{
    border: 5px solid transparent;
    width: 250px;
    border-radius: 50%;
    margin-right:50px;
}
#p{
    border: 5px solid transparent;
    width: 250px;
    border-radius: 50%;
    margin-left:50px;
    margin-right:50px;
}
#s{
    border: 5px solid transparent;
    margin-left:50px;
    width: 250px;
    border-radius: 50%;
}

.scoreboard{
    width: 800px;
    margin:auto;
    text-align:center;
    font-size:40;
    background-color: #d9dadf;
    border-radius:40%;
    padding: 40px 20px ;
}
.boardlabel{
    backgroud: #E2584D;
    margin: 65px;
}
#user{
    margin-left: -12px;
}
#comp{
    margin-right: -16px;
    margin-left: 60px;
}